@use 'reset';
@use 'header';
@use 'variables' as *;
@use 'hero';
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap');

// --- Global styles ---
body {
  font-family: "Playpen Sans Arabic", cursive;
  direction: rtl;
  background: linear-gradient(to bottom, $bg-dark, $bg);
}

